<div class="hline-grey"></div>
<div class="icon-container">

<a href="{{ site.data.footer.github }}" aria-label="GitHub">
  <i class="fab fa-github icon"></i>
</a>
<a href="mailto:{{ site.data.footer.mailto }}" aria-label="Email">
  <i class="fas fa-envelope icon"></i>
</a>
<a href="{{ site.data.footer.linkedin }}" aria-label="LinkedIn">
  <i class="fab fa-linkedin icon"></i>
</a>
</div>

<!-- <div class="hline-grey"></div> -->
<p style="font-size: 8px; padding: 10px 0 15px 0; text-align: center;">Copyright &copy; {{ site.time | date: "%Y" }} Hussein Adi & <a href="/copyright">others.</a></p>
