<div class="nav">
    <div class="nav-inner">
          <div style="text-align: center; font-size: 8px; padding-top: 4px;">
          {{ site.time | date: "%B %d, %Y" }}
         </div>
        <ul id="horizontal-nav-container">
          <!-- ALT: 🇨🇦 🇩🇪 🇫🇷 🇯🇵 🇸🇦 -->
            <li class="language-selector-item"><a href="/">🇨🇦 EN</a></li>
            <li>/</li>
            <li class="language-selector-item"><a href="/de">🇩🇪 DEU</a></li>
            <li>/</li>
            <li class="language-selector-item"><a href="/fr">🇫🇷 FR</a></li>
            <li>/</li>
            <li class="language-selector-item"><a href="/jp">🇯🇵 日本語</a></li>
            <li>/</li>
            <li class="language-selector-item"><a href="/ar">عربي 🇸🇦</a></li>
        </ul>
        <div class="hline-grey"></div>
        <ul id="horizontal-nav-container">
            
            <li class="language-selector-item">
              <a href="/experience">
                {{ site.data[lang].nav.experience }}
              </a>
            </li>
            <li>〡</li>
            <li class="language-selector-item">
              <a href="/projects">
              {{ site.data[lang].nav.projects }}
              </a>
            </li>
            <li>〡</li>
            <li class="language-selector-item">
              <a href="/blog">
              {{ site.data[lang].nav.blog }}
              </a>
            </li>

          </ul>
        <!-- <div class="hline-grey"></div> -->

    </div>
</div>
