
/* Large devices, laptops, desktop monitors */
@media (min-width: 992px) {

	:root {
		--introduction-header-font-size: 24px;
		--para-font-size-base: 14px;
		--language-font-size-base: 14px;
		--body-padding: clamp(175px, 27vw, 4000px);

		--card-header-font-size: 16px;
		/* --body-padding: clamp(175px, 23vw, 4000px); */
	}

	body {
		/* Note that vw is not screen width, it is the width of the browser window */
		/* padding-left: calc(300px + 15vw);
		padding-right: calc(300px + 15vw); */
		/* padding-left: clamp(175px, 27vw, 4000px);
		padding-right: clamp(175px, 27vw, 4000px); */
		padding-left: var(--body-padding);
		padding-right: var(--body-padding);
	}

	#vertical-content {
		padding-top: 80px;
		padding-bottom: 20px;
	}

	.avatar {
		height: 100px;
		width: 100px;
	}

	.project-image {
		height: 100px;
		width: 100px;
		aspect-ratio: 1 / 1;
	}

	.project-card {
		padding: 20px;
	}

	.project-text {
		height: 100px;
	}

	.show-on-large {
		display: block;
	}
}