:root {
	--language-font-size-base: 12px;
	--header-font-size-base: 20px;
	--card-header-font-size: 14px;
	--introduction-header-font-size: 18px;
	--para-font-size-base: 12px;
	--tech-font-size-base: 10px;

	--body-padding: 22px;

	--clr-bg-a0: #ffffff;
	--clr-bg-a1: #e1e1e1;

	--clr-surface-a0: #f5f5f5;

	--clr-border-a0: #d3d3d3;

	--clr-font-a0: #1e1e1e;
	--clr-icon-a0: #1e1e1e;
	--clr-icon-a1: #6e6e6e;
	--clr-icon-a2: #b6b6b6;

	--bg-1: #ffffff;
	--dark-1: #1e1e1e;
	--lightgrey-1: #e1e1e1;
	--card-bg: #f5f5f5;
	--card-border: #d3d3d3;

	--sheer-bg: rgba(255, 255, 255, 0.95);
}