.project-card {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
	margin-bottom: 2rem;
	overflow: hidden;
	transition: 0.2s ease-in-out;
	width: 100%;
	background-color: var(--clr-surface-a0);

	height: 20rem;
	border-radius: var(--border-radius-a0);
}

.project-text {
	padding: 1rem;
	height: 9rem;
}

.project-card:hover {
	filter: brightness(1.03);
}

.project-title {
	font-size: var(--card-header-font-size);
	font-weight: bold;
}

.project-image {
	// width: 90px;
	// background-color: var(--dark-1);
	// // justify-self: center;
	// flex-shrink: 0;
	height: 10rem;
	max-height: 100%;
	width: 100%;
	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
}